<form class="example-container" [formGroup]="form" (submit)="operate()">
   
    <div [hidden]="true">
    <mat-form-field>
        <input matInput placeholder="ID" formControlName="idPatient">
    </mat-form-field>
    </div>

    <mat-form-field>
        <input matInput placeholder="FirstName" formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="LastName" formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="DNI" formControlName="dni">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Address" formControlName="address">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Phone" formControlName="phone">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <button mat-flat-button type="submit">
        <span>OK</span>
        <mat-icon>done</mat-icon>
    </button>
    <button mat-flat-button class="cancel-button" type="button" routerLink="/pages/patient">
        <span>Cancel</span>
        <mat-icon>cancel</mat-icon>
    </button>
</form>