.medic-selected {
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.7); /* Aumentar el efecto de sombra */
    border: 2px solid rgb(34, 0, 255); /* Cambia el borde del card */
    transition: box-shadow 0.3s ease, border 0.3s ease; /* Agrega transiciones suaves */
}

.fixedRigth { /* posiciona un elemento de forma fija en la esquina inferior derecha de la pantalla */
    top: auto !important; 
    right: 20px !important; /*se separa 20px del borde derecho de la pantalla*/
    bottom: 10px !important; /*Se separa 10px  del borde inferior */
    left: auto !important;
    position: fixed !important; /* el elemento se fija en la pantalla*/
}

.fixedLeft { /* posiciona un elemento de forma fija en la esquina inferior izquierda de la pantalla */
    top: auto !important; 
    right: auto !important; 
    bottom: 10px !important; /*Se separa 10px  del borde inferior */
    left: 20px !important; /*se separa 20px del borde izquierdo de la pantalla*/
    position: fixed !important; /* el elemento se fija en la pantalla*/
}

.consultCSS{ /* texto blanco sobre fondo verde oscuro */
    background: rgb(2, 95, 68);
    color: white;
}

/* Organizar el formulario de forma vertical y centrada */
.form-container {
    display: flex; /* Convierte el contenedor en un contenedor flexible usando Flexbox */
    flex-direction: column; /* Hace que los elementos hijos se coloquen uno debajo del otro (en columna) */
    align-items: center; /* Centra Horizontalmente los hijos dentro del contenedor */
    width: 100%; /*El contenedor usara todo el ancho disponible del padre */
}


/* Hace que cualquier elemento del formulario ocupe todo el espacio del padre */
.form-container form {
    width: 100%;
}

.form-container mat-form-field {
    width: 100%; /* Permite usar todo el ancho del formulario */
    margin-bottom: 20px; /* Agrega un espacio vertical debajo de cada campo */
}

/* Estilos para los botones dentro del contenedor */
.form-container button {
    margin-top: 20px; /*¨Agrega un espacio de 20px por encima del boton */
}

/* Estilos para las listas dentro del contenedor */
.form-container mat-list {
    width: 100%;
    margin-top: 20px;
}

/* Estilos para las tarjetas de médicos dentro del contenedor */
.form-container .mat-card {
    width: 300px; /* Define el ancho de la tarjeta */
    margin: 10px; /* Agrega un espacio externo, separandolas unas de las otras */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aplica una sombra suave */
    transition: box-shadow 0.3s ease; /* Permite que el cambio en la sombre se anime suavemente */
}

/*Aplica un efecto visual al pasar el mouse*/
 .form-container .mat-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);/*Crea una sombra al rededor del card*/
 }

/*estilos para el titulo del medico seleccionado dentro del contenedor */
 .form-container .medic-title {
    color: #1976d2
 }

 /*Permite que el cursor pase a una mano cuando pase sobre una imagen 
    dentro del mat-card*/
 .form-container mat-card img {
    cursor: pointer;
 }

 /*Hace que todos los botones que estan dentro del mat card se expandan
    para ocupar el 100% del ancho disponible*/
 .form-container .mat-card-actions button {
    width: 100%;
 }

/*Aplica una margen superior a todos los botones que tienen un
    atributo matStepperNext*/
 .form-container button[matStepperNext] {
    margin-top: 30px;
 }